.grid{
    height: 396px; /* Adjusted to accommodate all content */
    width: 1010px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: 110px 286px; /* Adjusted to define the first row for navigation and second for the image */
}

.col1, .col2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Assuming .row2 is your image */
.row2 {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container without stretching */
}

/* Adjustments for your sub-grid within col2 */
.grid2{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four equal columns */
    width: 100%; /* Adjusted to fill the parent container */
    height: 73px; /* Adjusted for consistency */
}

.col11, .col12, .col13, .col14{
    display: flex;
    align-items: center;
    justify-content: center;
}

.topLogo{
    width: 201px;
    height: 39.2px;
}

a{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-decoration: none solid rgb(0,0,0);
    text-align: right;
    word-spacing: 0px;
}

.greenOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* Covers only half of the image */
  height: 100%; /* Full height of the parent container */
  background-color: rgba(0, 128, 0, 0.5); /* Semi-transparent green */
  display: flex;
  align-items: center; /* Vertically center */
  justify-content: center; /* Horizontally center */
}

.imageContainer {
  grid-row: 2 / span 1;
  grid-column: 1 / span 2; /* Make sure it covers both columns */
  position: relative; /* Needed for absolute positioning of children */
  width: 1650px;
  height: 286px;
}

.overlayText {
    text-align: center;
    color: white; /* Choose a color that stands out against the green */
    font-size: 30px; /* Adjust as needed */
    padding: 0 10px; /* Adds some padding inside the overlay box */
    font-weight: 600;
    line-height: 30px;
    text-decoration: none solid rgb(0,0,0);
    text-align: right;
    word-spacing: 0px;
}

.hamburgerIcon {
  width: 30px;
  height: 30px;
  margin: 4px 0;
  padding-top: 15px;
  cursor: pointer;
}

