/* Login.css */

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
  }
  
  .login-form {
    width: 75%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, #008453 70%, #001E13 100%);
  }
  
  .login-box {
    padding: 20px;
  }
  .login-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #CBB778;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .login-icon {
    width: 50%; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    margin-right: 10px;
  }
  
  .error-text {
    color: white;
    margin-bottom: 10px;
  }
  
  .input-group {
    width: 100%;
  }
  
  .input-container {
    display: flex;
    flex-direction: row; /* Change flex direction to row */
    align-items: center; /* Align items horizontally */
    margin-bottom: 20px;
  }
  
  .input-container label {
    margin-right: 10px;
    min-width: 80px;
    color: white;
    /* Add margin to create space between label and input */
  }

  .input-container text{
    width: 100%;
    text-align: center;
  }
  
  .input-container input {
    flex: 1; /* Allow input to take remaining space */
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  .error-text {
    text-align: center;
    align-items: center;
    
  }

  .manage-password{
    text-align: center;
    align-items: center;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .manage-password {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
  }
  
  .manage-password:hover {
    text-decoration: underline;
  }
  